* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: linear-gradient(to left top, #000000 60%, #5a189a, #47106b);
}

.backButton img {
	width: 3em;
	height: 3em;
	position: absolute;
	top: 20px;
	left: 20px;
}

#rotate {
	transition: 0.5s;
}
#rotate:hover {
	transform: rotate(-25deg);
}

.container {
	width: 80%;
	margin: 80px auto;
}

.container h1 {
	/* position: relative;
	top: 10%;
	right: 50%;
	transform: translateX(-50%); */
	padding: 20px 0;
	color: #fff;
	font-size: 44px;
	text-align: center;
	transition: 1s;
	/* display: inline-block; */
	border-radius: 10px;
	margin-bottom: 30px;
}

h1:hover {
	transform: translateY(-4px);
	transform: scale(1.05);
	text-shadow: 0px 0px 20px rgba(255, 203, 242, 0.7), 0px 0px 40px rgba(255, 203, 242, 0.5),
		0px 0px 60px rgba(255, 203, 242, 0.4), 0px 0px 80px rgba(255, 203, 242, 0.3);
}

.row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.col {
	flex-basis: 50%;
	min-width: 250px;
}

.cover-img {
	width: 83%;
	margin: auto;
	position: relative;
	border-radius: 6px;
	overflow: hidden;
	border: 1px solid rgba(255, 203, 242, 0.5);
	border-right: 1px solid rgba(255, 203, 242, 0.3);
	border-bottom: 1px solid rgba(255, 203, 242, 0.3)5;
	transition: 1s;
	filter: drop-shadow(0px 0px 40px rgba(130, 55, 222, 0.8)) blur(0.7px);
}

.cover-img:hover {
	filter: drop-shadow(0px 0px 40px rgba(130, 55, 222, 0.8)) blur(0px);
	width: 83.5%;
}

.cover-img h2 {
	position: absolute;
	top: -10px;
	padding: 10px 20px;
	color: #fff;
	font-size: 44px;
	text-align: center;
	transition: 1s;
	display: inline-block;
	border-radius: 10px;
	/* margin-bottom: 30px; */
}

.cover-img h2:hover {
	transform: translateY(-4px);
	transform: scale(1.05);
	text-shadow: 0px 0px 20px rgba(255, 203, 242, 0.7), 0px 0px 40px rgba(255, 203, 242, 0.5),
		0px 0px 60px rgba(255, 203, 242, 0.4), 0px 0px 80px rgba(255, 203, 242, 0.3);
}

.small-img-row {
	background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.8));
	margin: 20px 0;
	/* display: flex;
	align-items: center; */
	border-radius: 6px;
	overflow: hidden;
	width: 85%;
	border: 1px solid rgba(255, 203, 242, 0.5);
	border-right: 1px solid rgba(255, 203, 242, 0.3);
	border-bottom: 1px solid rgba(255, 203, 242, 0.3);
	transition: 1s;
}

/* .small-img-row:hover {
	
	background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 1));
} */
.small-img {
	display: flex;
	align-items: center;
	position: relative;
}

.small-img img {
	width: 230px;
}

.small-img p {
	color: rgb(68, 56, 56);
	margin-left: 10px;
	text-align: center;
	/* line-height: 2px; */
	transition: 1s;
	font-size: 1.5em;
}
.small-img:hover p {
	letter-spacing: 1px;
	scale: (5);
	margin-left: 40px;
	color: #000;
	font-size: 2em;
}

.play-btn {
	width: 60px;
	position: absolute;
	top: 45%;
	left: 45%;
	/* transform: translate(-50%, -50%); */
	cursor: pointer;
}

.small-img .play-btn {
	width: 35px;
	left: 115px;
}

.video-player {
	width: 80%;
	position: absolute;
	top: 57%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	background: #000;
}

video:focus {
	outline: none;
}

.close-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 30px;
	cursor: pointer;
}
